<div class="sidenav" 
     [ngClass]="{'sidenav-collapsed': collapsed, 'sidenav-pinned': pinned}"
     (mouseenter)="onMouseEnter()"
     (mouseleave)="onMouseLeave()">
     
  <div class="logo-container">
    <div class="logo">
      <i class="fas fa-cube"></i>
    </div>
    <div class="logo-text" @fadeInOut *ngIf="!collapsed || pinned">TeamDev</div>
    <button class="pin-button" 
            [ngClass]="{'pinned': pinned}"
            @fadeInOut 
            *ngIf="!collapsed || pinned" 
            (click)="togglePin()">
      <i class="fas fa-thumbtack"></i>
    </button>
  </div>
  
  <div class="menu-container">
    <ul class="sidenav-nav">
      <!-- Dashboard -->
      <li class="sidenav-nav-item">
        <a class="sidenav-nav-link" 
           [routerLink]="[navData[0].path]"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">
          <i class="sidenav-link-icon" [class]="navData[0].icon"></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="!collapsed || pinned">{{navData[0].title |translate}}</span>
          <div class="tooltip" *ngIf="collapsed && !pinned">{{navData[0].title}}</div>
        </a>
      </li>

<ng-container *ngFor="let item of navData.slice(1, 5)">
    <li class="sidenav-nav-item" *appHasPermission="item.permissions || []">
      <a class="sidenav-nav-link" 
         [routerLink]="[item.path]"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }">
        <i class="sidenav-link-icon" [class]="item.icon"></i>
        <span class="sidenav-link-text" @fadeInOut *ngIf="!collapsed || pinned">
          {{ item.title | translate }}
        </span>
        <div class="tooltip" *ngIf="collapsed && !pinned">{{ item.title }}</div>
      </a>
    </li>
  </ng-container>
    </ul>
  </div>
  
  <!-- Logout en bas -->
  <div class="logout-container">
  <li class="sidenav-nav-item">
    <a class="sidenav-nav-link" 
       (click)="logout()" 
       style="cursor: pointer;">
      <i class="sidenav-link-icon" [class]="navData[5].icon"></i>
      <span class="sidenav-link-text" @fadeInOut *ngIf="!collapsed || pinned">
        {{navData[5].title |translate}}
      </span>
      <div class="tooltip" *ngIf="collapsed && !pinned">
        {{navData[5].title}}
      </div>
    </a>
  </li>
</div>
</div>